.header {
  padding: 3rem 10rem;
  @include flexbox(row, space-between, center);
  max-width: 210rem;

  svg {
    height: 5rem;
    width: 5rem;
  }
  p {
    font-family: $main-font;
    margin-left: 3.6rem;
    font-size: 3rem;
    color: white;
    border-bottom: 0.4rem solid $lightBlueBackground;
    padding: 1.5rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
      color: #1330f4;
    }
  }
}
