.wallet-connect-container {
  .address-container {
    @include flexbox(row, center, center);
    .address {
    }
  }

  .connect-button {
    background-color: transparent;
    color: white;
    font-size: 36px;
    border-bottom: 2px solid $lightBlueBackground;
    position: relative;

    &:hover {
      color: $hoverBlue;
      border-bottom: none;
      top: 3px;
    }
  }
}
