.wallet-connect-container {
  @include flexbox(row, space-evenly, center);
  .array-balance {
    color: $off-white;
    margin-right: 5rem;
    font-size: 2.4rem;
  }
  .address-container {
    @include flexbox(row, center, center);
    .address {
      .etherscan {
        text-decoration: none;
        color: white;
      }
    }
  }

  .connect-button {
    background-color: transparent;
    color: white;
    font-size: 3.6rem;
    border-bottom: 0.2rem solid $light-blue-background;
    position: relative;

    &:hover {
      color: $hover-blue;
      border-bottom: none;
      top: 0.3rem;
    }
  }
}
