.vaults-container {
  @include flexbox(column, flex-start);
  overflow-y: scroll;
  max-height: 53rem;
  scrollbar-color: $lightBlueBackground;
  scrollbar-width: thin;

  @media (max-width: 1280px) {
    height: 45rem;
  }
}
.vaults-container::-webkit-scrollbar {
  width: 100%;
  width: 0.2rem;
}

.vaults-container::-webkit-scrollbar-button {
  color: linear-gradient(180deg, #020a55 0%, #17043a 100%);
}

.vaults-container::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: black;
  background-color: linear-gradient(180deg, #020a55 0%, #17043a 100%);
}
