.single-vault {
  margin-bottom: 3rem;
  width: 95%;
  margin: 2rem auto;
  .vault-top {
    padding: 2%;
    border: 0.2rem solid $opaque-white;
    cursor: pointer;
    transition: all 0.3s ease;
    &:hover {
      border: 0.2rem solid $off-white;
    }

    .vault-header {
      padding: 1%;
      width: 95%;
      margin: 0 auto;
      @include flexbox(row, space-between, center);
      .name-and-logo {
        display: flex;
        align-items: center;
        .logo-container {
          .vault-logo {
            height: 8rem;
            width: 8rem;
            border-radius: 50%;
          }
        }

        .vault-name {
          margin-left: 1.5rem;
          font-size: 2.6rem;
        }
      }
    }
    .vault-stats {
      @include flexbox(row, space-evenly, center);
      padding: 1% 2%;
      width: 90%;
      margin-left: 5rem;

      .vault-stat {
        width: 35%;
        .stat-text {
          font-size: 2.4rem;
        }
      }
    }
  }

  .top-show {
    border-bottom: none;
    transition: all 0.3s ease;
    &:hover {
      border: 0.2rem solid $off-white;
      border-bottom: none;
    }
  }

  .withdraw-deposit {
    padding: 2%;
    border: 0.2rem solid $lightBlueBackground;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    display: none;
    transition: all 0.4s ease;
    position: absolute;
    width: 87.56rem;
    background: linear-gradient(180deg, #050f5b 0%, #130650 100%);

    .balance-info {
      width: 25%;
      margin: 0 auto;
      @include flexbox(column, center, center);
      .user-deposit-in-vault {
        font-size: 2.4rem;
        margin-top: -1rem;
      }
      .deposit-fiat-amount {
        margin-top: 1rem;
        font-size: 1.6rem;
      }
    } //balance-info
    .withdraw-deposit-buttons {
      width: 70%;
      @include flexbox(row, flex-end, center);

      #actions {
        width: 20rem;
        height: 5rem;
        border-radius: 0.8rem;
        color: white;
        font-size: 2.4rem;
        background: linear-gradient(90deg, #192298 0%, #242eb1 100%);
        box-shadow: 0px 0.5rem 1rem rgba(31, 1, 150, 0.15);
        .action {
          color: white;
          font-size: 2.4rem;
          background: $darkBlueBackground;
        }
      }

      // button {
      //   width: 35%;
      //   height: 5rem;
      //   border-radius: 2.5rem;
      //   color: white;
      //   font-size: 1.8rem;
      //   background: linear-gradient(90deg, #192298 0%, #242eb1 100%);
      //   box-shadow: 0px 0.5rem 1rem rgba(31, 1, 150, 0.15);
      //   &:first-child {
      //     margin-right: 3rem;
      //   }
      // }
    }
  }
  .show {
    display: flex;
    transition: all 0.4s ease;
  }
}
