.vault-interaction-container {
  @include flexbox(column, center, flex-end);
  width: 70%;
  margin: 0 auto;
  .vault-interaction-input-container {
    width: 55%;
    @include flexbox(row, flex-end, center);

    .amount-input {
      color: white;
      max-width: max-content;
      min-width: 32rem;
      font-size: 3rem;
      padding: 1rem;
    }

    .asset-name {
      margin: 0;
      width: 5%;
    }
  }
  .vault-interaction-container-buttons {
    @include flexbox(row, flex-end, center);
    margin-top: 2rem;
    width: 80%;
    .vault-interaction-button {
      width: 10rem;
      height: 5rem;
      margin-right: 0.5rem;
      border-radius: 2.5rem;
      color: white;
      font-size: 1.8rem;
      background: linear-gradient(90deg, #192298 0%, #242eb1 100%);
      box-shadow: 0px 0.5rem 1rem rgba(31, 1, 150, 0.15);
    }
    .cancel {
      background-color: transparent;
      color: white;
      font-size: 2.2rem;
      text-decoration: underline;
      position: relative;
      margin: 0 5rem;
      &:hover {
        top: 0.3rem;
        color: $hover-blue;
      }
    }
  }
  .max-button {
    background-color: $light-blue-background;
    border: 1px solid white;
    position: absolute;
    right: 32rem;
    border-radius: 4px;
    color: white;
  }
}
