.financial-stats-banner {
  width: 110rem;
  margin: 6.5rem auto;
  @include flexbox(row, flex-start, center);
  color: $off-white;

  .banner-stat-container {
    width: max-content;
    min-width: 11rem;
    padding: 0 1rem;
    margin-right: 4rem;
    border-right: 0.1rem solid $off-white;
    &:last-child {
      border-right: none;
    }
    .banner-title {
      font-size: 1.6rem;
      color: $off-white;
      line-height: 1.9rem;
    }
    .banner-stat {
      color: white;
      font-size: 3.6rem;
      font-weight: bold;
      line-height: 4.4rem;
    }
  }
  @media (max-width: 1280px) {
    margin: 0 auto;
  }
}
