.financial-stats-banner {
  width: 80%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: $off-white;

  .banner-stat-container {
    width: 20%;
    border-right: 1px solid $off-white;
    &:last-child {
      border-right: none;
    }
    .banner-title {
      font-size: 16px;
      color: $off-white;
      line-height: 19px;
    }
    .banner-stat {
      color: white;
      font-size: 36px;
      font-weight: bold;
      line-height: 44px;
    }
  }
}
