@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.checkbox-container {
  @include flexbox(row, center, center);
  .checkbox {
    cursor: pointer;
    &:hover {
      background-color: dodgerblue;
    }

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    border: 1px solid white;

    .little-circle {
    }
  }

  .checkbox-checked {
    @include flexbox(column, center, center);
    cursor: pointer;

    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    .little-circle {
      height: 0.5rem;
      width: 0.5rem;
      border-radius: 50%;
      background-color: white;
      border: 0.1rem solid white;
    }
  }
}
.set-max {
  width: 2rem;
  position: absolute;
  right: 50rem;

  .max-button {
    background-color: $lightBlueBackground;
    border: 1px solid white;
    border-radius: 4px;
    color: white;
  }
  .disabled {
    border: 1px solid $opaque-white;
    border-radius: 4px;
    color: white;
    opacity: 0.2;
    pointer-events: none;
    cursor: none;
    color: $opaque-white;
    background-color: $mainBlueBackground;
  }
}
