@import "../../../../styles/variables.scss";
@import "../../../../styles/mixins.scss";

.approve-asset {
  background-color: $light-blue-background;
  color: white;
  font-size: 2rem;
  width: 14rem;
  height: 3rem;
  padding: 0;
  border-radius: 2.8rem;
  margin: 0 auto;
}
.secret-button {
  @extend .approve-asset;
  opacity: 0;
  pointer-events: none;
}
