$main-font: "Helvetica", serif;
$mainBlueBackground: #030952;
$lightBlueBackground: #0f30f5;
$darkBlueBackground: #081171;

$hoverBlue: #1330f4;

$off-white: rgba(255, 255, 255, 0.7);
$opaque-white: rgba(255, 255, 255, 0.2);

//temporary color codes
$btcColor: #1330f4;
$ethColor: #13a6f4;
$daiColor: #bcd57e;
$bnbColor: #c91a5b;
$usdtColor: #c95b5b;
