$main-font: "Helvetica";
$main-font-color: white;
$main-blue-background: #030952;
$light-blue-background: #0f30f5;
$dark-blue-background: #081171;

$hover-blue: #1330f4;

$off-white: rgba(255, 255, 255, 0.7);
$opaque-white: rgba(255, 255, 255, 0.2);

//box-shadow
$main-box-shadow: 1px 1px 3px rgba(229, 229, 229, 0.07),
  3px 3px 6px 2px rgba(0, 0, 0, 0.3);

$small-box-shadow: 1px 1px 3px rgba(229, 229, 229, 0.07),
  1.5px 1.5px 3px rgba(0, 0, 0, 0.3);
