.asset-select {
  @include flexbox(column, center, center);
  width: 40%;
  .asset-input {
    @include flexbox(row, center, center);
    margin: 1.5rem 0;

    h1 {
      color: white;
      margin-left: 1.5rem;
      font-size: 3.6rem;
      width: 0.5rem;
    }
    .amount-input {
      background-color: $darkBlueBackground;
      border: 0.1rem solid white;
      color: white;
      border-radius: 0.6rem;
      font-size: 3.6rem;
      width: 40%;
      margin: 0 auto;
      text-align: right;
    }
  }
}
