.asset-select {
  @include flexbox(column, center, center);
  width: 40%;
  .asset-input {
    @include flexbox(row, center, center);
    margin: 15px 0;

    h1 {
      color: white;
      margin-left: 15px;
      font-size: 36px;
      width: 5px;
    }
    .amount-input {
      background-color: $darkBlueBackground;
      border: 1px solid white;
      color: white;
      border-radius: 6px;
      font-size: 36px;
      width: 40%;
      margin: 0 auto;
      text-align: right;
    }
  }
}
