.interactions-container {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  max-width: 100rem;
  left: 0;
  right: 0;
  top: 28rem;
  margin: 0 auto;
  color: white;
  padding-bottom: 10rem;

  .inactive {
    opacity: 0.4;
    pointer-events: none;
  }

  .cards {
    min-width: 97rem;
    max-width: 97rem;
    min-height: 48rem;
    border: 0.1rem solid rgba(0, 0, 0, 0.3);
    border-radius: 0.4rem;
    background: linear-gradient(180deg, #050f5b 0%, #130650 100%);
    box-shadow: $main-box-shadow;
    padding: 3rem;
    .section-heading {
      font-size: 1.6rem;
      font-weight: normal;
      color: $off-white;
      margin-bottom: 2rem;
    }
    .asset-name {
      margin-left: 2rem;
      font-weight: bold;
      font-size: 1.8rem;
    }
    .amount-input {
      background-color: $dark-blue-background;
      border: 0.1rem solid white;
      border-radius: 0.6rem;
      font-size: 3.6rem;
      width: 90%;
      margin: 0 auto;
      text-align: right;
      color: white;
    }
  }
  @media (max-width: 1280px) {
    top: 22.3rem;
  }
}
