.tab-switch {
  @include flexbox(column, flex-start);
  color: white;
  width: min-content;
  position: relative;

  .tab {
    @include flexbox(row, center, center);
    color: white;
    font-size: 5rem;
    width: 5rem;
    height: 5rem;
    margin-bottom: 3rem;
    cursor: pointer;
    padding: 0.8rem;
    a {
      color: white;
      &:hover {
        color: $hover-blue;
      }
    }
    &.selected {
      border-right: 0.2rem solid $light-blue-background;
    }
    &:first-child {
      font-size: 6rem;
    }
  }
}
