.tab-switch {
  @include flexbox(column, flex-start);
  color: white;
  width: min-content;
  position: relative;

  .tab {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 50px;
    margin-bottom: 30px;
    cursor: pointer;
    padding: 8px;
    a {
      color: white;
      &:hover {
        color: $hoverBlue;
      }
    }
    &.selected {
      border-right: 2px solid $lightBlueBackground;
    }
    &:first-child {
      font-size: 60px;
    }
  }
}
