.coin-prices {
  background-color: $darkBlueBackground;
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  h1 {
    color: white;
    font-family: $main-font;
    font-size: 2rem;
  }
}
