.burn-array-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3%;

  .burn-input-container {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    width: 30%;

    .amount-input {
      color: white;
    }
    .array {
      font-weight: bold;
      font-size: 2.4rem;
      text-align: right;
      margin-right: 1rem;
      margin-top: 1rem;
    }
  }
  .amount-to-burn {
    border: 0.2rem solid $off-white;
    padding: 5%;
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    .amounts-to-receive {
      width: 50%;
      .tokens-to-receive {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .burn-token {
          width: 12rem;
          display: grid;
          grid-template-columns: 1fr 1fr;
          margin: 1rem 0.5rem;

          .burn-token-amount {
            margin-left: 0px;
          }
        }
      }
    }

    .fiat-to-receive {
      width: 60%;
      .fiat-amount {
        font-size: 5.6rem;
      }
      button {
        display: inline-block;
        background-color: $lightBlueBackground;
        color: white;
        font-size: 3rem;
        width: 21rem;
        padding: 2% 0;
        border-radius: 2.8rem;
        margin: 0 auto;
      }
    }
  }
}
